/* It is 2020, who uses border-radius? */
.button,
.dropbutton-widget,
.dropbutton-single .dropbutton-action a {
  border-radius: 0 !important;
}

/* Sticky node edit actions. */
.node-form .layout-region-node-footer {
  padding: 0 30px;
  background-color: #eaeaea;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  border-top: 1px solid darkgrey;
}

/* Node edit actions in a single line. */
.node-form .layout-region-node-footer__content {
  border: none;
  margin: 0;
  display: flex;
}
.node-form .layout-region-node-footer__content #edit-footer {
  flex-grow: 1;
}
.node-form .layout-region-node-footer__content .form-type-checkbox {
  padding: 7px;
}

/* Sticky sidebar in node edit. */
@media screen and (min-width: 768px) {
  .layout-region-node-main {
    transition: width ease-out .2s;
  }
  .layout-region-node-secondary {
    position: sticky;
    top: 100px;
  }
}

.toggle-advanced {
  display: none;
}
.toggle-advanced:not(:checked) ~ .layout-region-node-main {
  width: 100%;
}
.toggle-advanced:not(:checked) ~ .layout-region-node-secondary {
  display: none;
}
.toggle-advanced:checked ~ .layout-region-node-main {
  width: 65%;
}
.toggle-advanced:checked ~ .layout-region-node-secondary {
  display: block;
}

/* Hide CTOOLS bug */
/* https://www.drupal.org/project/ctools/issues/2857279 */
.block-form #edit-visibility-entity-bundlenode,
.block-form a[href="#edit-visibility-entity-bundlenode"] {
  display: none !Important;
}
.block-form #edit-visibility-node-type {
  display: block;
}

/* Views Preview on the side for big screens. */
/* https://www.drupal.org/project/drupal/issues/3185775 */
@media screen and (min-width: 1600px) {
  .views-edit-view,
  .views-preview-wrapper {
    width: 49%;
    display: inline-flex;
  }
  .views-preview-wrapper {
    margin-left: 1.75%;
  }
  #view-edit-form,
  .view-preview-form {
    width: 100%;
  }
}

