{#
/**
 * @file
 * Theme override for a node edit form.
 *
 * Two column template for the node add/edit form.
 *
 * This template will be used when a node edit form specifies 'node_edit_form'
 * as its #theme callback.  Otherwise, by default, node add/edit forms will be
 * themed by form.html.twig.
 *
 * Available variables:
 * - form: The node add/edit form.
 *
 * @see seven_form_node_form_alter()
 */
#}
<div class="layout-node-form clearfix">
  <input type="checkbox" class="toggle-advanced" id="advanced-node-options">
  <div class="layout-region layout-region-node-main">
    {{ form|without('advanced', 'footer', 'actions') }}
  </div>
  <div class="layout-region layout-region-node-secondary">
    {{ form.advanced }}
  </div>
  <div class="layout-region layout-region-node-footer">
    <div class="layout-region-node-footer__content">
        {{ form.actions }}
        {{ form.footer }}
      <div id="edit-advanced-toggle" class="form-actions">
        <label for="advanced-node-options" class="button button--primary toggle-label">{{ 'Advanced'|t }}</label>
      </div>
    </div>
  </div>
</div>
